.material-icons.md-48 {
    font-size: 48px;
}

body {
    margin: auto;
    padding: 0px 120px;
    display: flex;
    background-color: black;
    
}

.side-bar-container {
    display: flex;
    padding: 148px;
    background-image: url(images/background.jpg);
    justify-content: center;
    align-items: center;
    
}

.side-bar-content {
    display: flex;
    width: 100%;
}

.form-header {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-container {
    background-color: rgb(238, 234, 234);
    height: 100vh;
    
}


label,input{
    display:flex;
    flex-direction:column;
}

.input-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 2px -2px rgb(192, 183, 183);
}

.input-entries {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}


.action {
    padding: 20px;
}

a {
    text-decoration: none;
    color: rgb(66, 132, 231);
    font-weight: bold;
}

.logo {
    height: 64px;
    width: 64px;
}

