.col-4 {
    background:url(images/background.jpg);
    background-size: cover;
}
    
footer {
    font-size: 12px;
    bottom: 0;
    margin-left: 20px;
    position: fixed;
}

.content {
    min-height: 100vh;
}